web/Web References/sms.diamondcard.us/smsapi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s0="http://sms.diamondcard.us/SMSapi" xmlns:impl="http://sms.diamondcard.us/SMSapi" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://sms.diamondcard.us/SMSapi" targetNamespace="http://sms.diamondcard.us/SMSapi" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <q1:schema elementFormDefault="qualified" targetNamespace="http://sms.diamondcard.us/SMSapi" xmlns:q1="http://www.w3.org/2001/XMLSchema">
      <q1:element name="send">
        <q1:complexType>
          <q1:sequence>
            <q1:element minOccurs="0" maxOccurs="1" name="inParams" type="tns1:PodCustomTypesSendIn" />
          </q1:sequence>
        </q1:complexType>
      </q1:element>
      <q1:element name="sendResponse">
        <q1:complexType>
          <q1:sequence>
            <q1:element minOccurs="1" maxOccurs="1" name="out" type="tns1:PodCustomTypesSendOut" />
          </q1:sequence>
        </q1:complexType>
      </q1:element>
      <q1:element name="status">
        <q1:complexType>
          <q1:sequence>
            <q1:element minOccurs="0" maxOccurs="1" name="inParams" type="tns1:PodCustomTypesStatusIn" />
          </q1:sequence>
        </q1:complexType>
      </q1:element>
      <q1:element name="statusResponse">
        <q1:complexType>
          <q1:sequence>
            <q1:element minOccurs="1" maxOccurs="1" name="out" type="tns1:PodCustomTypesStatusOut" />
          </q1:sequence>
        </q1:complexType>
      </q1:element>
      <q1:complexType name="PodCustomTypesSendOut">
        <q1:sequence>
          <q1:element name="ErrCode" nillable="true" type="q1:string">
            <q1:annotation>
              <q1:documentation>ErrCode - one of the following: empty - success, INVDEST - invalid destinations error. List of invalid phone numbers available at 'InvalidDestinations' array, LOWBALANCE - Insufficient balance, NOTAVAIL - Service not available, ERR - misc errors. More details available at ErrMsg</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="ErrMsg" nillable="true" type="q1:string">
            <q1:annotation>
              <q1:documentation>Error description text</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="SendingId" nillable="true" type="q1:int">
            <q1:annotation>
              <q1:documentation>Sending Id in case of successfull sending</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element minOccurs="0" maxOccurs="unbounded" name="InvalidDestinations" nillable="true" type="q1:string">
            <q1:annotation>
              <q1:documentation>When ErrCode=INVDEST this field contains array of invalid phone numbers</q1:documentation>
            </q1:annotation>
          </q1:element>
        </q1:sequence>
      </q1:complexType>
      <q1:complexType name="PodCustomTypesStatusIn">
        <q1:sequence>
          <q1:element name="AccId" nillable="true" type="q1:string">
            <q1:annotation>
              <q1:documentation>Account Id</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="PinCode" nillable="true" type="q1:string">
            <q1:annotation>
              <q1:documentation>PIN code</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="SendingId" nillable="true" type="q1:int">
            <q1:annotation>
              <q1:documentation>Sending Id</q1:documentation>
            </q1:annotation>
          </q1:element>
        </q1:sequence>
      </q1:complexType>
      <q1:complexType name="PodCustomTypesSendIn">
        <q1:sequence>
          <q1:element name="AccId" nillable="true" type="q1:string">
            <q1:annotation>
              <q1:documentation>Account Id</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="PinCode" nillable="true" type="q1:string">
            <q1:annotation>
              <q1:documentation>PIN code</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="MsgTxt" nillable="true" type="q1:string">
            <q1:annotation>
              <q1:documentation>Message to sent</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="SendFrom" nillable="true" type="q1:string">
            <q1:annotation>
              <q1:documentation>Send From phone number</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element minOccurs="1" maxOccurs="unbounded" name="Destination" nillable="true" type="q1:string">
            <q1:annotation>
              <q1:documentation>Phone number or list of phone numbers to send message to</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="IgnoreInvNumbers" nillable="true" type="q1:int">
            <q1:annotation>
              <q1:documentation>If this parameter set to 1 messages will be sent to all valid phone numbers in the list</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="IgnoreInsufBalance" nillable="true" type="q1:int">
            <q1:annotation>
              <q1:documentation>If this parameter set to 1 sending will start and go on till you have enough funds on your account</q1:documentation>
            </q1:annotation>
          </q1:element>
        </q1:sequence>
      </q1:complexType>
      <q1:complexType name="PodCustomTypesStatusOut">
        <q1:sequence>
          <q1:element name="ErrCode" nillable="true" type="q1:string">
            <q1:annotation>
              <q1:documentation>ErrCode - one of the following: empty - success, ERR - misc errors. More details available at ErrMsg</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="ErrMsg" nillable="true" type="q1:string">
            <q1:annotation>
              <q1:documentation>Error description text</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="Queue" nillable="true" type="q1:int">
            <q1:annotation>
              <q1:documentation>Number of messages in queue</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="Sent" nillable="true" type="q1:int">
            <q1:annotation>
              <q1:documentation>Number of sent messages</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="Delivered" nillable="true" type="q1:int">
            <q1:annotation>
              <q1:documentation>Number of delivered messages (if available)</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="Failed" nillable="true" type="q1:int">
            <q1:annotation>
              <q1:documentation>Number of failed messages</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="Cost" nillable="true" type="q1:float">
            <q1:annotation>
              <q1:documentation>How much this sending costs</q1:documentation>
            </q1:annotation>
          </q1:element>
          <q1:element name="Currency" nillable="true" type="q1:string">
            <q1:annotation>
              <q1:documentation>Currency code for Cost</q1:documentation>
            </q1:annotation>
          </q1:element>
        </q1:sequence>
      </q1:complexType>
    </q1:schema>
  </types>
  <message name="sendRequest">
    <part name="parameters" element="tns1:send">
      <wsdl:documentation>input hash</wsdl:documentation>
    </part>
  </message>
  <message name="sendResponse">
    <part name="parameters" element="tns1:sendResponse">
      <wsdl:documentation>output hash</wsdl:documentation>
    </part>
  </message>
  <message name="statusRequest">
    <part name="parameters" element="tns1:status">
      <wsdl:documentation>input hash</wsdl:documentation>
    </part>
  </message>
  <message name="statusResponse">
    <part name="parameters" element="tns1:statusResponse">
      <wsdl:documentation>output hash</wsdl:documentation>
    </part>
  </message>
  <portType name="SMSapiHandler">
    <operation name="send" parameterOrder="parameters">
      <wsdl:documentation>Sending request</wsdl:documentation>
      <input name="sendRequest" message="tns1:sendRequest" />
      <output name="sendResponse" message="tns1:sendResponse" />
    </operation>
    <operation name="status" parameterOrder="parameters">
      <wsdl:documentation>Sending status request</wsdl:documentation>
      <input name="statusRequest" message="tns1:statusRequest" />
      <output name="statusResponse" message="tns1:statusResponse" />
    </operation>
  </portType>
  <binding name="SMSapiSoapBinding" type="tns1:SMSapiHandler">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="send">
      <wsdlsoap:operation soapAction="http://sms.diamondcard.us/SMSapi#send" style="document" />
      <input name="sendRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="sendResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="status">
      <wsdlsoap:operation soapAction="http://sms.diamondcard.us/SMSapi#status" />
      <input name="statusRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="statusResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SMSapiHandlerService">
    <port name="SMSapi" binding="tns1:SMSapiSoapBinding">
      <wsdlsoap:address location="http://sms.diamondcard.us/" />
    </port>
  </service>
</definitions>